/*
    Base common CSS settings
*/
html {
    /* Elements outside layout do not cause scrolling */
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    /* Elements outside layout do not cause scrolling */
    /* position: relative; - causes issue with MUI tooltip at Safari */
    overflow-x: hidden;

    /* Font display optimization */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

img,
svg {
    /* To exclude auto padding below picture (or remove parental line-height and font-size) */
    display: block;
    /* To be not oversized from container block */
    max-width: 100%;
    /* Height calculation proportionally from width */
    height: auto;
}

svg {
    max-height: 100%;
}

button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    font-variation-settings: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
fieldset {
    margin: 0;
}

iframe {
    border: none;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}