$laptop: 1160;
$tablet: 960;
$mobile: 375;
$median: calc(($tablet + $mobile) / 2); // 667

@mixin laptop {
    @media (max-width: #{$laptop}px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}px) {
        @content;
    }
}

@mixin median {
    @media (max-width: #{$median}px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}px) {
        @content;
    }
}

@mixin contrast {
    @media (forced-colors: active) {
        @content;
    }
}