@use "./variables" as *;
@use "./media" as *;

.heading {
    &_x-large {
        font-size: px-to-rem(42);
        font-weight: 68;

        @include mobile {
            font-size: px-to-rem(32);
        }
    }

    &_large {
        font-size: px-to-rem(32);
        font-weight: 78;

        @include mobile {
            font-size: px-to-rem(28);
        }
    }

    &_medium {
        font-size: px-to-rem(28);
        font-weight: 78;

        @include mobile {
            font-size: px-to-rem(24);
        }
    }

    &_small {
        font-size: px-to-rem(24);
        font-weight: 78;
    }
}

.paragraph {
    &_large {
        font-size: px-to-rem(18);
        font-weight: 78;

        &:has(+ p) {
            padding-bottom: px-to-rem(8);
        }
    }

    &_medium {
        font-size: px-to-rem(16);
        font-weight: 78;

        &:has(+ p) {
            padding-bottom: px-to-rem(8);
        }
    }

    &_small {
        font-size: px-to-rem(14);
        font-weight: 78;

        &:has(+ p) {
            padding-bottom: px-to-rem(8);
        }
    }
}