$dark-black: #181818; // Darker background, almost black
$dark-white: #e8e8e8; // Off-white for text, etc.

$dark-blue-100: #28edff; 
$dark-blue-400: #1dabb8; // Main color
$dark-blue-500: #16737f;
$dark-blue-600: #283f52;

$dark-gray-100: #3F3F4D;
$dark-gray-300: #2E3032;
$dark-gray-500: #242322;

$dark-beige-100: #d8d2cf;
$dark-beige-200: #a19591;

$dark-green-100: #273f2c;

$dark-red-100: #3f2b25;
$dark-red-400: #662007;

$dark-yellow-100: #403b28;

@function px-to-rem($px) {
    $rem: 0.625rem;
    @return calc($px / 10 * $rem);
}

@mixin focus-visible {
    $outline-width: .125rem;

    &:focus-visible {
        outline: $outline-width dotted $dark-blue-100;
        outline-offset: $outline-width;
    }
}

@mixin focus-visible-inset {
    $outline-width: .125rem;

    &:focus-visible {
        outline: $outline-width dotted $dark-blue-100;
        outline-offset: calc($outline-width * -1);
    }
}

@mixin safari-only {

    // Target only Safari 9.0 and up
    @supports (-webkit-hyphens:none) {
        @content;
    }
}