@use "sass:color";

@use "./variables" as *;
@use "./media" as *;
@use "./typography" as *;

@import "normalize.css";
@import "_default.css";

html {
    scroll-behavior: smooth;

    // Fix for scroll issues in Safari
    @include safari-only {
        scroll-behavior: unset;
    }
}

body,
// Pages-router puts body into this wrapper
#__next {
    display: flex;
    flex-direction: column;

    font-family: "Open Sans", sans-serif;
    line-height: 1.5;

    min-width: 320px;
    min-height: 100vh;

    background: linear-gradient(180deg, $dark-gray-500, color.adjust($dark-gray-500, $lightness: -5%));
    color: $dark-white;
}

main {
    /* Main block will be stretched to the whole height event it is empty. Thus, footer will always be at the bottom! */
    flex-grow: 1;
    padding-top: px-to-rem(24);
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.section {

    $padding: px-to-rem(24);
    padding: $padding;

    // Reduce space between sibling items
    &+& {
        padding-top: calc($padding / 2);
    }

    &:has(+ &) {
        padding-bottom: calc($padding / 2);
    }
}

.link {
    --icon-external-link: url('data:image/svg+xml,\
        <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"> \
            <path d="M4.08334 4.08332H9.09184L3.08759 10.0876L3.91242 10.9124L9.91667 4.90816V9.91666H11.0833V2.91666H4.08334V4.08332Z" fill="white"/> \
        </svg>');

    $delay: .1s;

    color: $dark-blue-100;
    text-decoration: none;
    padding-bottom: 0.05rem;
    border-bottom: 2px solid transparent;
    transition: color $delay ease-in, border-color $delay ease-in;

    &:hover,
    &:active {
        color: $dark-blue-400;
        border-color: $dark-blue-400;
    }

    &_active {
        border-color: $dark-blue-400;
    }

    &[href^="http"]:after {
        content: var(--icon-external-link);
    }

    @include focus-visible;
}

ul.list {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(8);

    & li {
        display: list-item;
        list-style-position: inside;
        list-style-type: circle;
    }
}