@use "@/styles/variables" as *;

.language-selector {
    display: flex;
    align-items: center;

    &__list {
        display: flex;
        gap: px-to-rem(32);

        &__item {
            text-transform: uppercase;

            @include focus-visible;

            &_active {
                border-bottom: 2px solid $dark-white;
                font-weight: bold;
            }
        }
    }
}