@use "@/styles/variables" as *;

.picker {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    input[type="file"] {
        display: none;
    }

    &__preview {
        width: 200px;
        height: 200px;
        border: 2px solid #a4abb9;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: .7em;

        p {
            margin: 0;
            padding: 1rem;
        }

        img {
            max-height: 100%;
        }
    }
}