@use "./variables" as *;
@use "./form" as *;

@import "normalize.css";
@import "_default.css";

body {
    display: flex;
    flex-direction: column;

    font-family: "Open Sans", sans-serif;
    line-height: 1.5;

    min-width: 320px;
    min-height: 100vh;

    background: linear-gradient(180deg, $main-color, darken($main-color, 2.5%));
    color: $font-color;
}

main {
    /* Main block will be stretched to the whole height event it is empty. Thus, footer will always be at the bottom! */
    flex-grow: 1;
    padding-top: px-to-rem(20);
}

h1 {
    font-size: 3rem;
    padding: 1rem 0;
}

p {
    font-size: 1rem;
    margin: .75em auto;
}

.section {
    padding: 1rem;
    text-align: center;
}

.link {
    --icon-external-link: url('data:image/svg+xml,\
        <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"> \
            <path d="M4.08334 4.08332H9.09184L3.08759 10.0876L3.91242 10.9124L9.91667 4.90816V9.91666H11.0833V2.91666H4.08334V4.08332Z" fill="white"/> \
        </svg>');

    $delay: .1s;

    color: $active-color;
    text-decoration: none;
    padding-bottom: 0.05rem;
    border-bottom: 2px solid transparent;
    transition: color $delay ease-in, border-color $delay ease-in;

    &:hover,
    &:active {
        color: $focus-color;
        border-color: $focus-color;
    }

    &_active {
        border-color: $active-color;
    }

    &[href^="http"]:after {
        content: var(--icon-external-link);
    }
}

.logo {
    margin: auto;
    filter: drop-shadow(0 0 4px $active-color);
    animation: fade-slide-in-from-bottom 1s ease-out forwards
}

@keyframes fade-slide-in-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}