.modal-backdrop {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    max-width: 500px;
    height: auto;
    max-height: 500px;

    border: none;
    border-radius: 12px;
    background-color: #eee;
    padding: 20px;
    font-size: 2em;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
    border-radius: 15px;

    cursor: pointer;
    font-size: 1.5em;
    
    
    &::hover {
        background-color: #eee;
    }
    &::after {
        content: "\02A2F";
        color: black;
    }
}