@use "@/styles/variables" as *;
@use "@/styles/media" as *;
@use "../variables" as form;

.form-button {
    display: inline-block;
    text-align: center;

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    min-width: px-to-rem(140);
    padding: px-to-rem(8) px-to-rem(16);
    border-radius: px-to-rem(6);
    cursor: pointer;

    transition:
        border-color form.$transition,
        background-color form.$transition;

    @include focus-visible;

    @include contrast {
        border: .1rem solid;
    }

    // Variants
    &_contained {
        color: form.$color-accent-contrast;
        background-color: form.$color-accent;

        &:hover:not(:disabled),
        &:focus {
            color: inherit;
            background-color: form.$color-hover;
        }

        &:active {
            background-color: form.$color-active;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: .7;

            color: form.$color-disabled-contrast;
            background-color: form.$color-disabled;
        }
    }

    &_outlined {
        color: form.$color-accent;
        background-color: transparent;
        border: px-to-rem(1) solid form.$color-accent;

        &:hover:not(:disabled),
        &:focus {
            border-color: form.$color-hover;
        }

        &:active {
            color: inherit;
            border-color: form.$color-active;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: .7;

            color: form.$color-disabled;
            border-color: form.$color-disabled;
        }
    }
}