@use "@/styles/variables" as *;

.header {
    padding: px-to-rem(24);
    background-color: $dark-black;

    &__row {
        display: flex;
        justify-content: space-between;
        gap: px-to-rem(24);
        flex-wrap: nowrap;
    }

    &__menu {
        display: flex;
        gap: px-to-rem(24);
        flex-wrap: wrap;

        font-size: 1.2rem;
    }
}