@use "sass:color";

@use "@/styles/variables" as *;

$transition: .15s ease-in-out;

$color-accent: $dark-blue-400;              // Button background
$color-accent-contrast: $dark-gray-500;     // Button text

$color-disabled: $dark-beige-200;           // Button disabled background
$color-disabled-contrast: $dark-gray-100;   // Button disabled text

$color-error: $dark-red-400;
$color-error-contrast: color.adjust($dark-red-400, $lightness: 30%);

$color-hover: $dark-blue-500;               // Button hover
$color-active: $dark-blue-600;              // Button active
$color-input-bg: $dark-beige-100;