@use "@/styles/variables" as *;

.details {

    summary {
        cursor: pointer;

        @include focus-visible;
    }

    &__title {
        display: inline-block;
        vertical-align: middle;

        color: $dark-beige-200;
    }

    pre {
        margin: 0;
    }
}