.gallery__collection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 20px 0;

    &_wide {
        align-items: stretch;
    }

    &__icons {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        padding: 16px;
    }
}