@use "@/styles/variables" as *;
@use "../variables" as form;

.form-input {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(4);

    &__input {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;

        padding: px-to-rem(8) px-to-rem(16);
        border-radius: px-to-rem(6);

        &::placeholder {
            color: form.$color-disabled;
            opacity: .7;
        }

        &[aria-invalid=true]:not(:focus),
        &:invalid:not(:focus):not(:placeholder-shown) {
            border-color: form.$color-error-contrast;
            outline-color: form.$color-error-contrast;
        }
    }

    &__helper {
        color: form.$color-disabled;
    }

    &:has([aria-invalid=true])>& {

        // `... > &` above makes able to target &__helper
        &__helper {
            color: form.$color-error-contrast;
        }
    }

    // Variants
    &_outlined {
        border: px-to-rem(1) solid form.$color-disabled;
        outline: px-to-rem(1) solid transparent;
        background-color: rgba($color: form.$color-input-bg, $alpha: .1);

        &:focus,
        &:hover:not(:disabled):not(:focus):not([aria-invalid=true]) {
            border-color: form.$color-accent;
            outline-color: form.$color-accent;
        }
    }
}