.social-icon {
    display: inline-block;
    border-radius: 6px;

    transition:
        color .1s ease-in-out,
        background-color .1s ease-in-out;

    $social: (
        // Telegram
        "tg": #00AEF0,
        // Whatsapp
        "wh": #25d366,
        // Youtube
        "yt": #FF0000
    );

@each $name, $color in $social {
    &_#{$name} {

        &:hover,
        &:focus {
            color: $color;
            background-color: #FFF;
            border-radius: 6px;
        }
    }
}
}