@use "@/styles/variables" as *;
@use "../variables" as form;

.form-label {
    display: flex;
    gap: px-to-rem(8);

    &:focus-within &__text {
        color: form.$color-accent;
    }

    &_left {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    &_right {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
    }

    &_top {
        flex-direction: column;
        align-items: flex-start;
    }
}