@use "./variables" as *;

.footer {
    padding: px-to-rem(24);
    background-color: $dark-gray-300;

    &__row {
        display: flex;
        justify-content: space-between;
        gap: px-to-rem(24);
        flex-wrap: nowrap;
    }
}