@use "./variables" as *;

$pitched-color: lighten($main-color, 50%);

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__field {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        border: none;
    }

    &__label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: px-to-rem(10);
    }

    &__input {
        background-color: lighten($main-color, 20%);
        border: 1px solid $pitched-color;
        padding: px-to-rem(7) px-to-rem(15);
        color: $font-color;
        font-size: inherit;

        &:focus-visible {
            outline-color: $active-color;
            outline-style: solid;
            border-color: $active-color;
        }

        &::placeholder {
            color: $pitched-color;
            opacity: 0.5;
        }
    }

    &__button {
        padding: px-to-rem(7) px-to-rem(15);
        cursor: pointer;
        font-size: inherit;
        border: 1px solid $active-color;
        background-color: $active-color;
        transition: background-color 0.15s ease-in-out;

        &:hover:not(:disabled) {
            background-color: darken($active-color, 30%);
            color: white;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: .7;
        }
    }
}