.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    max-width: 200px;
    background-color: rgba(#eee, .5);
    border-radius: 8px;

    font-size: 2em;
}