@use "@/styles/variables" as *;
@use "@/styles/media" as *;
@use "../variables" as form;

// Common class for Checkbox & Radio
.form-choice {

    &__element {
        display: grid;
        place-content: center;
        appearance: none;
        margin: 0;
        cursor: pointer;

        width: 1.5rem;
        min-width: 1.5rem;
        height: 1.5rem;
        margin: px-to-rem(8) 0;

        border: px-to-rem(1) solid form.$color-disabled;
        outline: px-to-rem(1) solid transparent;
        background-color: rgba($color: form.$color-input-bg, $alpha: .1);
        transition: background-color form.$transition;

        &:hover:not(:disabled) {
            border-width: px-to-rem(2);
        }

        &:disabled {
            cursor: not-allowed;
            border-color: form.$color-disabled;
        }

        @include focus-visible;
    }

    &__label {
        cursor: pointer;

        &:has([disabled]) {
            cursor: not-allowed;
            opacity: .5;
        }
    }
}

.form-checkbox {
    border-radius: .2rem;

    &::before {
        content: "";
        width: .7rem;
        height: .7rem;

        background-color: form.$color-accent-contrast;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transition:
            transform form.$transition,
            border-color form.$transition;

        // For selection marker to be visible in high-contrast mode
        @include contrast {
            background-color: CanvasText;
        }
    }

    &:checked {
        background-color: form.$color-accent;
        border-color: form.$color-accent;

        &::before {
            transform: scale(1);
        }
    }

    &[aria-invalid=true],
    &:invalid {
        border-color: form.$color-error-contrast;
        outline-color: form.$color-error-contrast;

        &:checked {
            background-color: form.$color-error-contrast;
            border-color: form.$color-error-contrast;
        }
    }
}

.form-radio {
    border-radius: 50%;

    &::before {
        content: "";
        width: .6rem;
        height: .6rem;
        border-radius: 50%;

        background-color: form.$color-accent;
        transform: scale(0);
        transition: transform form.$transition;

        // For selection marker to be visible in high-contrast mode
        @include contrast {
            background-color: CanvasText;
        }
    }

    &:checked {
        border-color: form.$color-accent;
        border-width: px-to-rem(2);

        &::before {
            transform: scale(1);
        }
    }

    &[aria-invalid=true],
    &:invalid {
        border-color: form.$color-error-contrast;
        outline-color: form.$color-error-contrast;

        &:checked::before {
            background-color: form.$color-error-contrast;
            border-color: form.$color-error-contrast;
        }
    }
}